.Login input {
  border: none;
  border-bottom: solid 1px gray;
  border-radius: 0;
  font-weight: bold;
  color: black;
  /* margin: 10px; */
}
.Login {
  border: solid 1px gray;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow:10px;
}
.googleLogin svg {
  font-size: 52px;
}
